@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: "Press Start 2P", cursive;
}

.score-container {
  border: 4px solid #0f0; /* Color del borde retro */
  background-color: #000; /* Color de fondo */
  padding: 20px; /* Espacio interno */
  border-radius: 8px; /* Radio de borde */
  box-shadow: 0 0 10px rgba(15, 255, 0, 0.5); /* Sombra */
  color: #0f0; /* Color del texto */
  font-size: 16px; /* Tamaño del texto */
}
canvas {
  border: 4px solid rgb(55, 75, 204); /* Color del borde retro */
  background-color: #000; /* Color de fondo */
  padding: 20px; /* Espacio interno */
  border-radius: 8px; /* Radio de borde */
  box-shadow: 0 0 10px rgba(52, 66, 223, 0.5); /* Sombra */
  color: #0f0; /* Color del texto */
  font-size: 16px; /* Tamaño del texto */
}
